<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Analysis Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <h1>Healthcare Analytics Dashboard</h1>
    </header>
    <div class="container2">
        <aside class="left-panel">
            <h2>Heart Disease Prediction</h2>
            <p>Click the button below to predict your heart disease risk.</p>
            <a href="/Home/HeartDiseasePrediction" class="button">Predict Heart Disease</a>

        </aside>
        <main class="main-content">
            <h2>Welcome to the Risk Analysis Dashboard</h2>
            <p>
                Our platform allows you to analyze and predict your risk of heart disease and stroke based on various health indicators.
                Input your data, and our advanced machine learning models will provide you with personalized risk predictions.
                Use this information to better understand your health and take proactive measures.
            </p>
        </main>
        <aside class="right-panel">
            <h2>Stroke Risk Prediction</h2>
            <p>Click the button below to predict your stroke risk.</p>
            <a href="/StrokeRiskPrediction" class="button">Predict Stroke Risk</a>
        </aside>
    </div>
    
</body>
</html>
